#title {
    background-color: #ff4c68;
}

h1 {  
    
    font-size: 3rem;  
    line-height: 1.5;
    font-weight: 900;  
}

p{
    color: #7c7575;
}

h3{
    font-weight: 650;
}

h2{
    font-weight: 650;
}

.container-fluid{
    padding: 3% 15%;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 600;
}

.nav-item {
    padding-right: 18px;
    padding-left: 18px;
}

.nav-link{
    font-weight: 700;
    color: white;
}

.download-btn{
    margin: 5% 3% 5% 0;
}

.title-img{
    width: 50%;
    transform: rotate(25deg);
    position: relative;
    left: 25%;
}

#features{
    padding: 7% 12%;
    background-color: #fff;
    position: relative;
    z-index: 1;
    top: -150px;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    margin-bottom: 1.5rem;
    color: rgba(215, 95, 95, 0.889);
}

.icon:hover{
    color: #ff4c68;
}

#testimonials{
    text-align: center;
    background-color: rgba(215, 95, 95, 0.889);
    color: white;
    position: relative;
    z-index: 2;
    top: -150px;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: rgba(215, 95, 95, 0.889);
    text-align: center;
    position: relative;
    z-index: 3;
    top: -150px;
}

.press-img{
    width: 15%;
    margin: 20px 20px 100px;
}

#pricing{
    padding: 100px;
    text-align: center;
    position: relative;
    z-index: 4;
    top: -150px;
}

.pricing-column{
    padding: 3% 2%;
}

#cta{
    text-align: center;
    position: relative;
    z-index: 5;
    top: -150px;
    color: white;
    background-color: #ff4c68;
    padding: 10% 12%;
    
}

.cta-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer{
    text-align: center;
    position: relative;
    z-index: 6;
    top: -50px;
    background-color: white;
}


.social-icons{
    padding: 1%;
}

.social-media{
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1290px){
    #title{
        padding-bottom: 5%;
    }

    #footer{
        padding: 3%;
    }
}

@media (max-width: 1200px){
    #title{
        padding-bottom: 5%;
    }

    #press{
        top: 0;
    }

    #features{
        top: 0;
    }

    #testimonials{
        top: 0;
    }

    #pricing{
        top: 0;
    }

    #cta{
        top: 0;
    }

    #footer{
        top: 0;
        padding: 3%;
    }
}

@media (max-width: 990px){
    #title{
        padding-bottom: 5%;
        text-align: center;
    }

    .title-img{
        transform: rotate(0);
        left: 0;
    }

    #press{
        top: 0;
    }

    #features{
        top: 0;
    }

    #testimonials{
        top: 0;
    }

    #pricing{
        top: 0;
    }

    #cta{
        top: 0;
    }

    #footer{
        top: 0;
        padding: 3%;
    }
}